<!DOCTYPE html>
<html>
  <head>
    <title> Dashboard </title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Candy's Food Blog</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">



        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">Home</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <table >
    <tr>
    <th style="text-align: center" colspan="4">ADD POST</th>
    </tr>
    <tr>
        <th>Title</th>
        <th>Content</th>
    </tr>
    <tr>
        <form action="add-story" method="POST">
        <td><input style="width:100%" type="text" name="title"></input></td>
        <td>
            <input style="width:60%" type="text" name="content" rows="5"></input>
            <button>submit</button>
        </td>
        </form>
    </tr>
</table>
<br>
<br>
<br>
<table name="students_table" style="width:50%" border="2">
    <tr>
    <th style="text-align: center" colspan="4">EDIT POSTS</th>
    </tr>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th></th>
      <th></th>
    </tr>
    {% for post in posts %}
    <tr>
        <td>
            {{ post[2] }}
          </td>
          <td>
              {{ post[3] }}
          </td>
          <td>
            <a href="edit/{{ post[0] }}"><button> edit</button></a>
          </td>
    <td></td>
  </tr>
    {% endfor %}

</table>
</body>
</html>
