<!DOCTYPE html>
<html>
  <head>
    <title> Grade App </title>
  </head>

  <body>
    {{ message }}
    <form action="submit" method="post">
    Task:
    <input type="text" name="task"></input><br/>
    Email:
    <input type="text" name="email"></input><br/>
    Priority:
    <select name="priority">
      <option value="high">High</option>
      <option value="medium">Medium</option>
      <option value="low">Low</option>
    </select><br/>
    <button>
    Add To Do Item
    </button>
    </form>

  </body>
</html>
